services:
  app:
    build: .
    container_name: tattoo-api-app
    working_dir: /var/www
    volumes:
      - .:/var/www
    networks:
      - laravel


  web:
    image: nginx:alpine
    container_name: tattoo-api-web
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: mysql:8.0
    container_name: tattoo-api-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: tattoo_api
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: laravel
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - laravel

volumes:
  db_data:

networks:
  laravel:
    driver: bridge