services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      target: dev
    volumes:
      - .:/var/www
    environment:
      APP_ENV: local
      APP_DEBUG: "true"

  web:
    image: nginx:alpine
    volumes:
      - .:/var/www
      - ./docker/nginx/dev.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8080:80"

  swagger:
    image: swaggerapi/swagger-ui
    ports:
      - "8081:8080"
    environment:
      URLS: |
        [
          { "name": "Tattoo API v1", "url": "/docs/openapi.v1.yml" }
        ]
    volumes:
      - ./docs:/docs
